*{
    padding: 0;
    margin: 0;
}

#container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#score {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
    font-size: 18px;
}


#game{
    top: -10px;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#block{
    width: 50px;
    height: 500px;
    background-color: orange;
    position: relative;
    left: 400px;
    animation: block 3s infinite linear;
}

@keyframes block {
    0%{left:400px}
    100%{left:-50px}
}

#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 3s infinite linear;
}

#character{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 50px;
}


#gameover{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 180px;
    margin-top: 50px;
    background-color: rgb(39, 39, 39);
    color: rgb(52, 255, 2);
    border-radius: 50px;
}

#gameover h3{
    color: rgb(230, 255, 230);
}

#gameover button{
    margin-top: 50px;
    width: 80px;
    height: 30px;
    background-color: rgb(150, 255, 150);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}